a:link 
{
    border: none;
    color: rgb(0, 108, 209);
    background-color: transparent;
    text-align: center;
    text-decoration: none;
}   
a:visited 
{
    border: none;
    color: rgb(200, 0, 33);
    background-color: transparent;
    text-align: center;
    text-decoration: none;
}
.body
{
    text-align: center;
}
.button 
{
    border: none;
    color: rgb(0, 0, 0);
    padding: 1px 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}
.button1 
{
    width: 100px;
}
.button2 
{
    width: 100px;
}
.h5
{
    word-wrap: normal; ;
}
.table
{
    border: 2px;
    border-color: black;
    border-style: solid;
    text-align: center;
    border-collapse: collapse;
}
.td
{
    border: 2px;
    border-color: black;
    border-style: solid;
    text-align: center;
    border-collapse: collapse;
}
